body {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
}

.left, .right {
  width: 70px;
  height: 30px;
}
.center {
  flex: 1;
}

.left {
  background-color: red;
}
.center {
  background-color: green;
}
.right {
  background-color: blue;
}